@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: rgba(24, 24, 24, 0.92);
  background-color: #f6f4f1;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  font-family: 'yourwareSans', system-ui, sans-serif;
  background-color: #f6f4f1;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
